@{
    ViewData["Title"] = "About";
}

<main role="main" style="margin-top:100px;">
    
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        
        
        <p>
            Aster is solution for any recruitment 
            agencies. The framework is technically up 
            to date open source project build based on 
            new Microsoft Asp.Net Core.
        </p>
        <h3>Technology</h3>
        <p>
            Built on top of Asp.net core the application 
            works out-of-box with all the major relational 
            database and with potential to switch to NoSQL 
            databases as well.                         
        </p>
        <p>
            Aster framework system can also be used as 
            application framework with inbuilt Data Abstrations, 
            Localization, Authentication, Permissions, Schedule, 
            Task, Event Driven and more.
        </p>
        <h3>Solution</h3>
        <p>
            Aster is build to solve and simply recruiment agency 
            process with simple user interface and better user 
            experience. The project is simple and yet powerful 
            with full control over your business and can grow
            with your business.
        </p>

        <h3>Open Source</h3>
        <p>
            The project is open source so that many developers 
            are to be able to contribute to the core project 
            and hopefully create a eco system for Aster project.
        </p>
    </div>
</main>
