@{
    ViewData["Title"] = "Contact";
}

<main role="main" style="margin-top:100px;">

    <div class="container">
        <h2>@ViewData["Title"]</h2>        

        <address>
            Sabin Raj DANGOL<br />
            sawbean.raz@googlemail.com<br />
            Repo: <a href="https://gitlab.com/sawbeanraz/Aster">https://gitlab.com/sawbeanraz/Aster</a>
        </address>

        <address>
            <strong>Contributors</strong>
            <br />
            <strong>Sabin:</strong> <a href="mailto:sawbean.raz@hotmail.com">sawbean.raz@googlemail.com</a>
        </address>
    </div>
</main>