@model Aster.Web.Models.SignInModel
@{    
    ViewData["Title"] = "SignIn";
}



<div class="container-center-wrapper">


    @if(!ViewContext.ModelState.IsValid) {
        <div asp-validation-summary="All" class="form-validation"></div>
    }

    <form class="form-signin" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
        <span class="icon icon-lock" style="font-size:8em;"></span>

        <h1 class="h3 mb-3 font-weight-normal">Please enter username and password</h1>

        <label for="Username" class="sr-only">Username</label>
        <input type="text" class="form-control" placeholder="Username or Email"
               asp-for="Username" required autofocus />

        <label for="Password" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password"
               asp-for="Password" required />

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-primary btn-block">Sign In</button>
    </form>
</div>