@model Aster.Web.Models.SignInModel
@{
    ViewData["Title"] = "SignIn";
}

<h2>SignIn</h2>


@if(!ViewContext.ModelState.IsValid) {
    <div asp-validation-summary="All" class="form-validation">

    </div>
}

<form class="form-signin" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
    <h1>Please enter username and password</h1>

    <label class="sr-only">Username</label>
    <input type="text" class="form-control" placeholder="Username"
           asp-for="Username" />

    <label class="sr-only">Password</label>
    <input type="password" class="form-control" placeholder="Password"
           asp-for="Password" />

    <button class="btn btn-primary">Sign In</button>
</form>