<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/aster.min.css" />
</head>

<body class="center-body text-center">
    @RenderBody()
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</body>
</html>
