<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aster.Web</title>

    <environment include="Development">        
        <link rel="stylesheet" href="~/css/aster.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>    
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Aster</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a></li>
                </ul>
                <div class="mt-2 mt-md-0">
                    <ul class="navbar-nav">
                        @if(User.Identity.IsAuthenticated) {                            
                            <li class="nav-item"><a asp-area="" asp-controller="Auth" asp-action="SignOut" class="nav-link">Sign Out</a></li>
                        } else {
                            <li class="nav-item"><a asp-area="" asp-controller="Auth" asp-action="SignIn" class="nav-link">Sign In</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="Auth" asp-action="Register" class="nav-link">Register</a> </li>
                        }
                    </ul>
                </div>                
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year.ToString() - Aster</p>
        </div>
    </footer>    
    <script src="~/js/site.min.js" asp-append-version="true"></script>        
    @RenderSection("Scripts", required: false)
</body>
</html>
